/*
Using formula solid
$primary: #FF1010;
$home: #12E64F;
$away: #ff0000;
$cl: #FFFFFF;
$base: #000000;
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=latin,latin-ext");
.sr-bb {
  font-family: "Roboto", "Noto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-align: left;
  background: #000000;
}
.sr-bb.sr-rtl {
  text-align: right;
}
.sr-bb .sr-bb {
  background: none;
}
.sr-bb .srt-base-1 {
  background-color: transparent;
  color: #FFFFFF;
  border-color: rgba(255, 255, 255, 0.12);
}
.sr-bb .srt-base-1-win {
  background-color: transparent;
  color: #12E64F;
  border-color: #12E64F;
}
.sr-bb .srt-base-1-draw {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.4);
  border-color: rgba(255, 255, 255, 0.4);
}
.sr-bb .srt-base-1-lose {
  background-color: transparent;
  color: #ff0000;
  border-color: #ff0000;
}
.sr-bb .srt-base-1-is-active {
  background-color: rgba(255, 16, 16, 0.12);
  color: #FFFFFF;
  border-color: rgba(255, 255, 255, 0.12);
}
.sr-bb .srt-base-1-is-active-2 {
  background-color: #1a1a1a;
  color: #FFFFFF;
  border-color: rgba(255, 255, 255, 0.12);
}
.sr-bb .srt-base-1-is-hoverable:hover {
  background-color: rgba(255, 16, 16, 0.12);
  color: #FFFFFF;
  border-color: rgba(255, 255, 255, 0.12);
}
.sr-bb .srt-base-1-primary {
  background-color: transparent;
  color: #FF1010;
  border-color: #FF1010;
}
.sr-bb .srt-base-1-home-1 {
  background-color: transparent;
  color: #12E64F;
  border-color: #12E64F;
}
.sr-bb .srt-base-1-away-1 {
  background-color: transparent;
  color: #ff0000;
  border-color: #ff0000;
}
.sr-bb .srt-base-1-home-2 {
  background-color: transparent;
  color: #12E64F;
  border-color: #ff7474;
}
.sr-bb .srt-base-1-away-2 {
  background-color: transparent;
  color: #ff0000;
  border-color: #ff7474;
}
.sr-bb .srt-base-1-home-3 {
  background-color: transparent;
  color: #12E64F;
  border-color: rgba(255, 255, 255, 0.12);
}
.sr-bb .srt-base-1-away-3 {
  background-color: transparent;
  color: #ff0000;
  border-color: rgba(255, 255, 255, 0.12);
}
.sr-bb .srt-base-1-home-4 {
  background-color: transparent;
  color: #0da137;
  border-color: #0da137;
}
.sr-bb .srt-base-1-away-4 {
  background-color: transparent;
  color: #b30000;
  border-color: #b30000;
}
.sr-bb .srt-base-1-home-5 {
  background-color: transparent;
  color: #65ef8d;
  border-color: #65ef8d;
}
.sr-bb .srt-base-1-away-5 {
  background-color: transparent;
  color: #ff5959;
  border-color: #ff5959;
}
.sr-bb .srt-base-1-background {
  background-color: black;
  color: #FFFFFF;
  border-color: rgba(255, 255, 255, 0.12);
}
.sr-bb .srt-base-2 {
  background-color: black;
  color: #FFFFFF;
  border-color: rgba(255, 255, 255, 0.12);
}
.sr-bb .srt-base-2-is-active {
  background-color: #1f0202;
  color: #FFFFFF;
  border-color: rgba(255, 255, 255, 0.12);
}
.sr-bb .srt-base-2-is-hoverable:hover {
  background-color: #1f0202;
  color: #FFFFFF;
  border-color: rgba(255, 255, 255, 0.12);
}
.sr-bb .srt-base-3 {
  background-color: #1f0202;
  color: #FFFFFF;
  border-color: rgba(255, 255, 255, 0.12);
}
.sr-bb .srt-base-3-is-active {
  background-color: #2b0303;
  color: #FFFFFF;
  border-color: rgba(255, 255, 255, 0.12);
}
.sr-bb .srt-base-3-is-hoverable:hover {
  background-color: #2b0303;
  color: #FFFFFF;
  border-color: rgba(255, 255, 255, 0.12);
}
.sr-bb .srt-base-3-background {
  background-color: black;
  color: #FFFFFF;
  border-color: rgba(255, 255, 255, 0.12);
}
.sr-bb .srt-base-4 {
  background-color: #0d0101;
  color: #FFFFFF;
  border-color: rgba(255, 255, 255, 0.12);
}
.sr-bb .srt-base-5-is-active {
  background-color: #420404;
  color: #FFFFFF;
  border-color: rgba(255, 255, 255, 0.12);
}
.sr-bb .srt-base-5-is-hoverable:hover {
  background-color: #420404;
  color: #FFFFFF;
  border-color: rgba(255, 255, 255, 0.12);
}
.sr-bb .srt-base-6 {
  background-color: transparent;
  color: #FFFFFF;
  border-color: rgba(255, 255, 255, 0.3);
}
.sr-bb .srt-primary-1 {
  background-color: #FF1010;
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.16);
}
.sr-bb .srt-primary-1-is-active {
  background-color: #ff2828;
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.16);
}
.sr-bb .srt-primary-1-is-hoverable:hover {
  background-color: #ff2828;
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.16);
}
.sr-bb .srt-primary-1-is-disabled {
  background-color: #ff4040;
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.16);
}
.sr-bb .srt-primary-2 {
  background-color: #ff5858;
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.16);
}
.sr-bb .srt-primary-3 {
  background-color: #ff2828;
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.16);
}
.sr-bb .srt-primary-4 {
  background-color: #990a0a;
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.16);
}
.sr-bb .srt-primary-5 {
  background-color: #990a0a;
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.16);
}
.sr-bb .srt-primary-5-is-hoverable:hover {
  background-color: #FF1010;
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.16);
}
.sr-bb .srt-primary-6 {
  background-color: #ff7474;
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.16);
}
.sr-bb .srt-primary-7 {
  background-color: #FF1010;
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.16);
}
.sr-bb .srt-primary-8 {
  background-color: #FF1010;
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.16);
}
.sr-bb .srt-primary-8-is-active-1 {
  background-color: #ff2828;
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.16);
}
.sr-bb .srt-primary-8-is-active-2 {
  background-color: #ff2828;
  color: #ffffff;
  border-color: #000000;
}
.sr-bb .srt-primary-9 {
  background-color: #4d0505;
  color: #FFFFFF;
  border-color: rgba(255, 255, 255, 0.12);
}
.sr-bb .srt-primary-10 {
  background-color: #cc0d0d;
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.16);
}
.sr-bb .srt-primary-11 {
  background-color: #ff2828;
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.16);
}
.sr-bb .srt-primary-12 {
  background-color: #FF1010;
  color: #ffffff;
  border-color: #ffffff;
}
.sr-bb .srt-primary-13 {
  background-color: #0d0101;
  color: #ffffff;
  border-color: rgba(255, 16, 16, 0.3);
}
.sr-bb .srt-base-1-primary-1 {
  background-color: transparent;
  color: #FF1010;
  border-color: #FF1010;
}
.sr-bb .srt-base-1-primary-2 {
  background-color: transparent;
  color: #ff5858;
  border-color: #ff5858;
}
.sr-bb .srt-base-1-primary-3 {
  background-color: transparent;
  color: #ff2828;
  border-color: #ff2828;
}
.sr-bb .srt-base-1-primary-4 {
  background-color: transparent;
  color: #990a0a;
  border-color: #990a0a;
}
.sr-bb .srt-base-1-primary-5 {
  background-color: transparent;
  color: #990a0a;
  border-color: #990a0a;
}
.sr-bb .srt-base-1-primary-6 {
  background-color: transparent;
  color: #ff7474;
  border-color: #ff7474;
}
.sr-bb .srt-base-1-primary-7 {
  background-color: transparent;
  color: #FF1010;
  border-color: #FF1010;
}
.sr-bb .srt-base-1-primary-8 {
  background-color: transparent;
  color: #FF1010;
  border-color: #FF1010;
}
.sr-bb .srt-base-1-primary-9 {
  background-color: transparent;
  color: #4d0505;
  border-color: #4d0505;
}
.sr-bb .srt-base-1-primary-10 {
  background-color: transparent;
  color: #cc0d0d;
  border-color: #cc0d0d;
}
.sr-bb .srt-base-1-primary-11 {
  background-color: transparent;
  color: #ff2828;
  border-color: #ff2828;
}
.sr-bb .srt-base-1-primary-13 {
  background-color: #000000;
  color: #0d0101;
  border-color: rgba(255, 16, 16, 0.3);
}
.sr-bb .srt-base-1-neutral-1 {
  background-color: transparent;
  color: #212121;
  border-color: #212121;
}
.sr-bb .srt-base-1-neutral-2 {
  background-color: transparent;
  color: #e6e6e6;
  border-color: #e6e6e6;
}
.sr-bb .srt-base-1-neutral-3 {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.12);
  border-color: rgba(255, 255, 255, 0.12);
}
.sr-bb .srt-base-1-neutral-4 {
  background-color: transparent;
  color: #a6a6a6;
  border-color: #a6a6a6;
}
.sr-bb .srt-base-1-neutral-5 {
  background-color: transparent;
  color: #bfbfbf;
  border-color: #bfbfbf;
}
.sr-bb .srt-base-1-neutral-6 {
  background-color: transparent;
  color: #3d3d3d;
  border-color: #3d3d3d;
}
.sr-bb .srt-base-1-neutral-7 {
  background-color: transparent;
  color: #a6a6a6;
  border-color: #a6a6a6;
}
.sr-bb .srt-base-1-neutral-8 {
  background-color: transparent;
  color: #212121;
  border-color: #212121;
}
.sr-bb .srt-base-1-neutral-9 {
  background-color: transparent;
  color: #0f0f0f;
  border-color: #0f0f0f;
}
.sr-bb .srt-base-1-neutral-10 {
  background-color: transparent;
  color: #1f1f1f;
  border-color: #1f1f1f;
}
.sr-bb .srt-base-1-neutral-11 {
  background-color: transparent;
  color: #666666;
  border-color: #666666;
}
.sr-bb .srt-base-1-neutral-12 {
  background-color: transparent;
  color: #b3b3b3;
  border-color: #b3b3b3;
}
.sr-bb .srt-base-1-neutral-13 {
  background-color: transparent;
  color: #1a1a1a;
  border-color: #1a1a1a;
}
.sr-bb .srt-base-1-is-active-primary {
  background-color: rgba(255, 16, 16, 0.12);
  color: #FF1010;
  border-color: #FF1010;
}
.sr-bb .srt-base-1-is-active-home-1 {
  background-color: rgba(255, 16, 16, 0.12);
  color: #12E64F;
  border-color: #12E64F;
}
.sr-bb .srt-base-1-is-active-away-1 {
  background-color: rgba(255, 16, 16, 0.12);
  color: #ff0000;
  border-color: #ff0000;
}
.sr-bb .srt-base-1-is-active-home-2 {
  background-color: rgba(255, 16, 16, 0.12);
  color: #12E64F;
  border-color: #ff7474;
}
.sr-bb .srt-base-1-is-active-away-2 {
  background-color: rgba(255, 16, 16, 0.12);
  color: #ff0000;
  border-color: #ff7474;
}
.sr-bb .srt-base-1-is-active-home-3 {
  background-color: rgba(255, 16, 16, 0.12);
  color: #12E64F;
  border-color: rgba(255, 255, 255, 0.12);
}
.sr-bb .srt-base-1-is-active-away-3 {
  background-color: rgba(255, 16, 16, 0.12);
  color: #ff0000;
  border-color: rgba(255, 255, 255, 0.12);
}
.sr-bb .srt-base-1-is-active-home-4 {
  background-color: rgba(255, 16, 16, 0.12);
  color: #0da137;
  border-color: #0da137;
}
.sr-bb .srt-base-1-is-active-away-4 {
  background-color: rgba(255, 16, 16, 0.12);
  color: #b30000;
  border-color: #b30000;
}
.sr-bb .srt-base-1-is-active-home-5 {
  background-color: rgba(255, 16, 16, 0.12);
  color: #65ef8d;
  border-color: #65ef8d;
}
.sr-bb .srt-base-1-is-active-away-5 {
  background-color: rgba(255, 16, 16, 0.12);
  color: #ff5959;
  border-color: #ff5959;
}
.sr-bb .srt-base-1-is-active-primary-1 {
  background-color: rgba(255, 16, 16, 0.12);
  color: #FF1010;
  border-color: #FF1010;
}
.sr-bb .srt-base-1-is-active-primary-2 {
  background-color: rgba(255, 16, 16, 0.12);
  color: #ff5858;
  border-color: #ff5858;
}
.sr-bb .srt-base-1-is-active-primary-3 {
  background-color: rgba(255, 16, 16, 0.12);
  color: #ff2828;
  border-color: #ff2828;
}
.sr-bb .srt-base-1-is-active-primary-4 {
  background-color: rgba(255, 16, 16, 0.12);
  color: #990a0a;
  border-color: #990a0a;
}
.sr-bb .srt-base-1-is-active-primary-5 {
  background-color: rgba(255, 16, 16, 0.12);
  color: #990a0a;
  border-color: #990a0a;
}
.sr-bb .srt-base-1-is-active-primary-6 {
  background-color: rgba(255, 16, 16, 0.12);
  color: #ff7474;
  border-color: #ff7474;
}
.sr-bb .srt-base-1-is-active-primary-7 {
  background-color: rgba(255, 16, 16, 0.12);
  color: #FF1010;
  border-color: #FF1010;
}
.sr-bb .srt-base-1-is-hoverable-primary-7:hover {
  background-color: rgba(255, 16, 16, 0.12);
  color: #FF1010;
  border-color: #FF1010;
}
.sr-bb .srt-base-1-is-active-primary-8 {
  background-color: rgba(255, 16, 16, 0.12);
  color: #FF1010;
  border-color: #FF1010;
}
.sr-bb .srt-base-1-is-active-primary-9 {
  background-color: rgba(255, 16, 16, 0.12);
  color: #4d0505;
  border-color: #4d0505;
}
.sr-bb .srt-base-1-is-active-primary-10 {
  background-color: rgba(255, 16, 16, 0.12);
  color: #cc0d0d;
  border-color: #cc0d0d;
}
.sr-bb .srt-base-1-is-active-primary-11 {
  background-color: rgba(255, 16, 16, 0.12);
  color: #ff2828;
  border-color: #ff2828;
}
.sr-bb .srt-base-1-is-active-neutral-1 {
  background-color: rgba(255, 16, 16, 0.12);
  color: #212121;
  border-color: #212121;
}
.sr-bb .srt-base-1-is-active-neutral-2 {
  background-color: rgba(255, 16, 16, 0.12);
  color: #e6e6e6;
  border-color: #e6e6e6;
}
.sr-bb .srt-base-1-is-active-neutral-3 {
  background-color: rgba(255, 16, 16, 0.12);
  color: rgba(255, 255, 255, 0.12);
  border-color: rgba(255, 255, 255, 0.12);
}
.sr-bb .srt-base-1-is-active-neutral-4 {
  background-color: rgba(255, 16, 16, 0.12);
  color: #a6a6a6;
  border-color: #a6a6a6;
}
.sr-bb .srt-base-1-is-active-neutral-5 {
  background-color: rgba(255, 16, 16, 0.12);
  color: #bfbfbf;
  border-color: #bfbfbf;
}
.sr-bb .srt-base-1-is-active-neutral-6 {
  background-color: rgba(255, 16, 16, 0.12);
  color: #3d3d3d;
  border-color: #3d3d3d;
}
.sr-bb .srt-base-1-is-active-neutral-7 {
  background-color: rgba(255, 16, 16, 0.12);
  color: #a6a6a6;
  border-color: #a6a6a6;
}
.sr-bb .srt-base-1-is-active-neutral-8 {
  background-color: rgba(255, 16, 16, 0.12);
  color: #212121;
  border-color: #212121;
}
.sr-bb .srt-base-1-is-active-neutral-9 {
  background-color: rgba(255, 16, 16, 0.12);
  color: #0f0f0f;
  border-color: #0f0f0f;
}
.sr-bb .srt-base-1-is-active-neutral-10 {
  background-color: rgba(255, 16, 16, 0.12);
  color: #1f1f1f;
  border-color: #1f1f1f;
}
.sr-bb .srt-base-1-is-active-neutral-11 {
  background-color: rgba(255, 16, 16, 0.12);
  color: #666666;
  border-color: #666666;
}
.sr-bb .srt-base-1-is-active-neutral-12 {
  background-color: rgba(255, 16, 16, 0.12);
  color: #b3b3b3;
  border-color: #b3b3b3;
}
.sr-bb .srt-base-1-is-active-neutral-13 {
  background-color: rgba(255, 16, 16, 0.12);
  color: #1a1a1a;
  border-color: #1a1a1a;
}
.sr-bb .srt-home-1 {
  background-color: #12E64F;
  color: #000000;
  border-color: #12E64F;
}
.sr-bb .srt-away-1 {
  background-color: #ff0000;
  color: #ffffff;
  border-color: #ff0000;
}
.sr-bb .srt-home-2 {
  background-color: #12E64F;
  color: #000000;
  border-color: #ff7474;
}
.sr-bb .srt-away-2 {
  background-color: #ff0000;
  color: #ffffff;
  border-color: #ff7474;
}
.sr-bb .srt-home-3 {
  background-color: #12E64F;
  color: #000000;
  border-color: #000000;
}
.sr-bb .srt-away-3 {
  background-color: #ff0000;
  color: #ffffff;
  border-color: #000000;
}
.sr-bb .srt-home-4 {
  background-color: #0da137;
  color: #000000;
  border-color: #0da137;
}
.sr-bb .srt-away-4 {
  background-color: #b30000;
  color: #ffffff;
  border-color: #b30000;
}
.sr-bb .srt-home-5 {
  background-color: #65ef8d;
  color: #000000;
  border-color: #65ef8d;
}
.sr-bb .srt-away-5 {
  background-color: #ff5959;
  color: #ffffff;
  border-color: #ff5959;
}
.sr-bb .srt-home-6 {
  background-color: rgba(18, 230, 79, 0.2);
  color: #FFFFFF;
  border-color: rgba(255, 255, 255, 0.12);
}
.sr-bb .srt-away-6 {
  background-color: rgba(255, 0, 0, 0.2);
  color: #FFFFFF;
  border-color: rgba(255, 255, 255, 0.12);
}
.sr-bb .srt-home-6-is-hoverable:hover {
  background-color: rgba(18, 230, 79, 0.2);
  color: #FFFFFF;
  border-color: rgba(255, 255, 255, 0.12);
}
.sr-bb .srt-away-6-is-hoverable:hover {
  background-color: rgba(255, 0, 0, 0.2);
  color: #FFFFFF;
  border-color: rgba(255, 255, 255, 0.12);
}
.sr-bb .srt-neutral-1 {
  background-color: #212121;
  color: #FFFFFF;
  border-color: rgba(255, 255, 255, 0.12);
}
.sr-bb .srt-neutral-2 {
  background-color: #e6e6e6;
  color: #000000;
  border-color: rgba(255, 255, 255, 0.16);
}
.sr-bb .srt-neutral-3 {
  background-color: rgba(255, 255, 255, 0.12);
  color: #FFFFFF;
  border-color: rgba(255, 255, 255, 0.12);
}
.sr-bb .srt-neutral-3-is-hoverable:hover {
  background-color: rgba(255, 255, 255, 0.12);
  color: #FFFFFF;
  border-color: rgba(255, 255, 255, 0.12);
}
.sr-bb .srt-neutral-4 {
  background-color: #a6a6a6;
  color: #000000;
  border-color: rgba(0, 0, 0, 0.16);
}
.sr-bb .srt-neutral-5 {
  background-color: #bfbfbf;
  color: #000000;
  border-color: rgba(0, 0, 0, 0.16);
}
.sr-bb .srt-neutral-6 {
  background-color: #3d3d3d;
  color: #FFFFFF;
  border-color: rgba(255, 255, 255, 0.12);
}
.sr-bb .srt-neutral-7 {
  background-color: #a6a6a6;
  color: #000000;
  border-color: rgba(0, 0, 0, 0.16);
}
.sr-bb .srt-neutral-8 {
  background-color: #212121;
  color: #FFFFFF;
  border-color: rgba(255, 255, 255, 0.12);
}
.sr-bb .srt-neutral-9 {
  background-color: #0f0f0f;
  color: #FFFFFF;
  border-color: rgba(255, 255, 255, 0.12);
}
.sr-bb .srt-neutral-10 {
  background-color: #1f1f1f;
  color: rgba(255, 255, 255, 0.82);
  border-color: rgba(255, 255, 255, 0.12);
}
.sr-bb .srt-neutral-11 {
  background-color: #666666;
  color: #FFFFFF;
  border-color: rgba(255, 255, 255, 0.12);
}
.sr-bb .srt-neutral-12 {
  background-color: #b3b3b3;
  color: #000000;
  border-color: rgba(0, 0, 0, 0.16);
}
.sr-bb .srt-neutral-13 {
  background-color: #1a1a1a;
  color: #FFFFFF;
  border-color: rgba(255, 255, 255, 0.12);
}
.sr-bb .srt-win {
  background-color: #12E64F;
  color: #000000;
  border-color: rgba(255, 255, 255, 0.16);
}
.sr-bb .srt-draw {
  background-color: rgba(255, 255, 255, 0.4);
  color: #000000;
  border-color: rgba(255, 255, 255, 0.16);
}
.sr-bb .srt-lose {
  background-color: #ff0000;
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.16);
}
.sr-bb .srt-text-secondary {
  opacity: 0.8;
  -webkit-font-smoothing: antialiased;
}
.sr-bb .srt-text-disabled {
  opacity: 0.6;
}
.sr-bb .srt-text-tertiary {
  opacity: 0.7;
}
.sr-bb .srt-primary-1 .srt-text-secondary, .sr-bb .srt-primary-1.srt-text-secondary,
.sr-bb .srt-primary-1-is-active .srt-text-secondary,
.sr-bb .srt-primary-1-is-active.srt-text-secondary,
.sr-bb .srt-primary-1-is-hoverable:hover .srt-text-secondary,
.sr-bb .srt-primary-1-is-hoverable:hover.srt-text-secondary,
.sr-bb .srt-primary-1-is-disabled .srt-text-secondary,
.sr-bb .srt-primary-1-is-disabled.srt-text-secondary,
.sr-bb .srt-primary-2 .srt-text-secondary,
.sr-bb .srt-primary-2.srt-text-secondary,
.sr-bb .srt-primary-3 .srt-text-secondary,
.sr-bb .srt-primary-3.srt-text-secondary,
.sr-bb .srt-primary-4 .srt-text-secondary,
.sr-bb .srt-primary-4.srt-text-secondary,
.sr-bb .srt-primary-5 .srt-text-secondary,
.sr-bb .srt-primary-5.srt-text-secondary,
.sr-bb .srt-primary-5-is-hoverable:hover .srt-text-secondary,
.sr-bb .srt-primary-5-is-hoverable:hover.srt-text-secondary,
.sr-bb .srt-primary-6 .srt-text-secondary,
.sr-bb .srt-primary-6.srt-text-secondary,
.sr-bb .srt-primary-7 .srt-text-secondary,
.sr-bb .srt-primary-7.srt-text-secondary,
.sr-bb .srt-primary-8 .srt-text-secondary,
.sr-bb .srt-primary-8.srt-text-secondary,
.sr-bb .srt-primary-8-is-active-1 .srt-text-secondary,
.sr-bb .srt-primary-8-is-active-1.srt-text-secondary,
.sr-bb .srt-primary-8-is-active-2 .srt-text-secondary,
.sr-bb .srt-primary-8-is-active-2.srt-text-secondary,
.sr-bb .srt-primary-9 .srt-text-secondary,
.sr-bb .srt-primary-9.srt-text-secondary,
.sr-bb .srt-primary-10 .srt-text-secondary,
.sr-bb .srt-primary-10.srt-text-secondary,
.sr-bb .srt-primary-11 .srt-text-secondary,
.sr-bb .srt-primary-11.srt-text-secondary,
.sr-bb .srt-primary-12 .srt-text-secondary,
.sr-bb .srt-primary-12.srt-text-secondary,
.sr-bb .srt-primary-13 .srt-text-secondary,
.sr-bb .srt-primary-13.srt-text-secondary {
  opacity: 0.8;
  -webkit-font-smoothing: antialiased;
}
.sr-bb .srt-primary-1 .srt-text-disabled, .sr-bb .srt-primary-1.srt-text-disabled,
.sr-bb .srt-primary-1-is-active .srt-text-disabled,
.sr-bb .srt-primary-1-is-active.srt-text-disabled,
.sr-bb .srt-primary-1-is-hoverable:hover .srt-text-disabled,
.sr-bb .srt-primary-1-is-hoverable:hover.srt-text-disabled,
.sr-bb .srt-primary-1-is-disabled .srt-text-disabled,
.sr-bb .srt-primary-1-is-disabled.srt-text-disabled,
.sr-bb .srt-primary-2 .srt-text-disabled,
.sr-bb .srt-primary-2.srt-text-disabled,
.sr-bb .srt-primary-3 .srt-text-disabled,
.sr-bb .srt-primary-3.srt-text-disabled,
.sr-bb .srt-primary-4 .srt-text-disabled,
.sr-bb .srt-primary-4.srt-text-disabled,
.sr-bb .srt-primary-5 .srt-text-disabled,
.sr-bb .srt-primary-5.srt-text-disabled,
.sr-bb .srt-primary-5-is-hoverable:hover .srt-text-disabled,
.sr-bb .srt-primary-5-is-hoverable:hover.srt-text-disabled,
.sr-bb .srt-primary-6 .srt-text-disabled,
.sr-bb .srt-primary-6.srt-text-disabled,
.sr-bb .srt-primary-7 .srt-text-disabled,
.sr-bb .srt-primary-7.srt-text-disabled,
.sr-bb .srt-primary-8 .srt-text-disabled,
.sr-bb .srt-primary-8.srt-text-disabled,
.sr-bb .srt-primary-8-is-active-1 .srt-text-disabled,
.sr-bb .srt-primary-8-is-active-1.srt-text-disabled,
.sr-bb .srt-primary-8-is-active-2 .srt-text-disabled,
.sr-bb .srt-primary-8-is-active-2.srt-text-disabled,
.sr-bb .srt-primary-9 .srt-text-disabled,
.sr-bb .srt-primary-9.srt-text-disabled,
.sr-bb .srt-primary-10 .srt-text-disabled,
.sr-bb .srt-primary-10.srt-text-disabled,
.sr-bb .srt-primary-11 .srt-text-disabled,
.sr-bb .srt-primary-11.srt-text-disabled,
.sr-bb .srt-primary-12 .srt-text-disabled,
.sr-bb .srt-primary-12.srt-text-disabled,
.sr-bb .srt-primary-13 .srt-text-disabled,
.sr-bb .srt-primary-13.srt-text-disabled {
  opacity: 0.6;
}
.sr-bb .srt-primary-1 .srt-text-tertiary, .sr-bb .srt-primary-1.srt-text-tertiary,
.sr-bb .srt-primary-1-is-active .srt-text-tertiary,
.sr-bb .srt-primary-1-is-active.srt-text-tertiary,
.sr-bb .srt-primary-1-is-hoverable:hover .srt-text-tertiary,
.sr-bb .srt-primary-1-is-hoverable:hover.srt-text-tertiary,
.sr-bb .srt-primary-1-is-disabled .srt-text-tertiary,
.sr-bb .srt-primary-1-is-disabled.srt-text-tertiary,
.sr-bb .srt-primary-2 .srt-text-tertiary,
.sr-bb .srt-primary-2.srt-text-tertiary,
.sr-bb .srt-primary-3 .srt-text-tertiary,
.sr-bb .srt-primary-3.srt-text-tertiary,
.sr-bb .srt-primary-4 .srt-text-tertiary,
.sr-bb .srt-primary-4.srt-text-tertiary,
.sr-bb .srt-primary-5 .srt-text-tertiary,
.sr-bb .srt-primary-5.srt-text-tertiary,
.sr-bb .srt-primary-5-is-hoverable:hover .srt-text-tertiary,
.sr-bb .srt-primary-5-is-hoverable:hover.srt-text-tertiary,
.sr-bb .srt-primary-6 .srt-text-tertiary,
.sr-bb .srt-primary-6.srt-text-tertiary,
.sr-bb .srt-primary-7 .srt-text-tertiary,
.sr-bb .srt-primary-7.srt-text-tertiary,
.sr-bb .srt-primary-8 .srt-text-tertiary,
.sr-bb .srt-primary-8.srt-text-tertiary,
.sr-bb .srt-primary-8-is-active-1 .srt-text-tertiary,
.sr-bb .srt-primary-8-is-active-1.srt-text-tertiary,
.sr-bb .srt-primary-8-is-active-2 .srt-text-tertiary,
.sr-bb .srt-primary-8-is-active-2.srt-text-tertiary,
.sr-bb .srt-primary-9 .srt-text-tertiary,
.sr-bb .srt-primary-9.srt-text-tertiary,
.sr-bb .srt-primary-10 .srt-text-tertiary,
.sr-bb .srt-primary-10.srt-text-tertiary,
.sr-bb .srt-primary-11 .srt-text-tertiary,
.sr-bb .srt-primary-11.srt-text-tertiary,
.sr-bb .srt-primary-12 .srt-text-tertiary,
.sr-bb .srt-primary-12.srt-text-tertiary,
.sr-bb .srt-primary-13 .srt-text-tertiary,
.sr-bb .srt-primary-13.srt-text-tertiary {
  opacity: 0.7;
}
.sr-bb .srt-icon {
  opacity: 0.33;
}
.sr-bb .srt-icon-secondary {
  opacity: 0.7;
}
.sr-bb .srt-elevation-1 {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2), 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}
.sr-bb .srt-elevation-2 {
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.23), 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}
.sr-bb .srt-elevation-3 {
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.26), 0px 10px 20px 0px rgba(0, 0, 0, 0.19);
}
.sr-bb .srt-elevation-center-2 {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.23), 0 1px 5px rgba(0, 0, 0, 0.16);
}
.sr-bb .srt-inset-top-1 {
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.23);
}
.sr-bb .srt-inset-bottom-1 {
  box-shadow: inset 0 -1px 2px 0 rgba(0, 0, 0, 0.23);
}
.sr-bb .srt-inset-top-2 {
  box-shadow: inset 0 3px 6px 0 rgba(0, 0, 0, 0.23);
}
.sr-bb .srt-inset-bottom-2 {
  box-shadow: inset 0 -3px 6px 0 rgba(0, 0, 0, 0.23);
}
.sr-bb .srt-inset-top-3 {
  box-shadow: inset 0 6px 6px 0 rgba(0, 0, 0, 0.23);
}
.sr-bb .srt-inset-bottom-3 {
  box-shadow: inset 0 -6px 6px 0 rgba(0, 0, 0, 0.23);
}
.sr-bb .srt-info {
  background-color: rgba(0, 114, 177, 0.1);
  color: #0072b1;
  border-color: #0072b1;
}
.sr-bb .srt-fill-info {
  fill: #0072b1;
}
.sr-bb .srt-stroke-info {
  stroke: #0072b1;
}
.sr-bb .srt-warning {
  background-color: rgba(229, 115, 0, 0.1);
  color: #e57300;
  border-color: #e57300;
}
.sr-bb .srt-fill-warning {
  fill: #e57300;
}
.sr-bb .srt-stroke-warning {
  stroke: #e57300;
}
.sr-bb .srt-error {
  background-color: rgba(238, 59, 59, 0.1);
  color: #ee3b3b;
  border-color: #ee3b3b;
}
.sr-bb .srt-fill-error {
  fill: #ee3b3b;
}
.sr-bb .srt-stroke-error {
  stroke: #ee3b3b;
}
.sr-bb .srt-fill-blue-card {
  fill: #2579ad;
}
.sr-bb .srt-stroke-blue-card {
  stroke: #2579ad;
}
.sr-bb .srt-fill-green-card {
  fill: #2cbd00;
}
.sr-bb .srt-stroke-green-card {
  stroke: #2cbd00;
}
.sr-bb .srt-fill-soccer-yellow-card {
  fill: #ffbf00;
}
.sr-bb .srt-stroke-soccer-yellow-card {
  stroke: #ffbf00;
}
.sr-bb .srt-fill-soccer-red-card {
  fill: #e43b3b;
}
.sr-bb .srt-stroke-soccer-red-card {
  stroke: #e43b3b;
}
.sr-bb .srt-stroke-soccer-substitution-in {
  stroke: #4fbe30;
  fill: transparent;
}
.sr-bb .srt-fill-soccer-substitution-in {
  fill: #4fbe30;
}
.sr-bb .srt-stroke-soccer-substitution-out {
  stroke: #e43b3b;
  fill: transparent;
}
.sr-bb .srt-fill-soccer-substitution-out {
  fill: #e43b3b;
}
.sr-bb .srt-stroke-soccer-own-goal {
  stroke: #e43b3b;
  fill: transparent;
}
.sr-bb .srt-fill-soccer-own-goal {
  fill: #e43b3b;
}
.sr-bb .srt-fill-soccer-relegation-1 {
  fill: #fdd835;
}
.sr-bb .srt-stroke-soccer-relegation-1 {
  stroke: #fdd835;
}
.sr-bb .srt-fill-soccer-relegation-2 {
  fill: #ffb848;
}
.sr-bb .srt-stroke-soccer-relegation-2 {
  stroke: #ffb848;
}
.sr-bb .srt-fill-soccer-relegation-3 {
  fill: #ef6c00;
}
.sr-bb .srt-stroke-soccer-relegation-3 {
  stroke: #ef6c00;
}
.sr-bb .srt-fill-soccer-relegation-4 {
  fill: #e93a34;
}
.sr-bb .srt-stroke-soccer-relegation-4 {
  stroke: #e93a34;
}
.sr-bb .srt-fill-soccer-relegation-5 {
  fill: #941d1d;
}
.sr-bb .srt-stroke-soccer-relegation-5 {
  stroke: #941d1d;
}
.sr-bb .srt-fill-soccer-promotion-1 {
  fill: #51d151;
}
.sr-bb .srt-stroke-soccer-promotion-1 {
  stroke: #51d151;
}
.sr-bb .srt-fill-soccer-promotion-2 {
  fill: #1b911b;
}
.sr-bb .srt-stroke-soccer-promotion-2 {
  stroke: #1b911b;
}
.sr-bb .srt-fill-soccer-promotion-3 {
  fill: #0e8094;
}
.sr-bb .srt-stroke-soccer-promotion-3 {
  stroke: #0e8094;
}
.sr-bb .srt-fill-soccer-promotion-4 {
  fill: #0a6cce;
}
.sr-bb .srt-stroke-soccer-promotion-4 {
  stroke: #0a6cce;
}
.sr-bb .srt-fill-soccer-promotion-5 {
  fill: #4a9fe4;
}
.sr-bb .srt-stroke-soccer-promotion-5 {
  stroke: #4a9fe4;
}
.sr-bb .srt-nfl-timeout-1 {
  background-color: #f5a623;
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.16);
}
.sr-bb .srt-nfl-timeout-2 {
  background-color: rgba(245, 166, 35, 0.3);
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.16);
}
.sr-bb .srt-nfl-penalty {
  background-color: #f4a621;
  color: #ffffff;
  border-color: #f4a621;
}
.sr-bb .srt-nfl-negative-yards-1 {
  background-color: #ac182e;
  color: #ffffff;
  border-color: #ac182e;
}
.sr-bb .srt-nfl-negative-yards-2 {
  background-color: #ac182e;
  color: #ffffff;
  border-color: #ac182e;
}
.sr-bb .srt-nfl-first-line {
  background-color: #4b90de;
  color: #ffffff;
  border-color: #4b90de;
}
.sr-bb .srt-nfl-ten-line {
  background-color: #f5a623;
  color: #ffffff;
  border-color: #f5a623;
}
.sr-bb .srt-fill-nfl-penalty {
  fill: #f4a621;
}
.sr-bb .srt-stroke-nfl-penalty {
  stroke: #f4a621;
}
.sr-bb .srt-fill-nfl-negative-yards-1 {
  fill: #ac182e;
}
.sr-bb .srt-stroke-nfl-negative-yards-1 {
  stroke: #ac182e;
}
.sr-bb .srt-fill-nfl-negative-yards-2 {
  fill: #ac182e;
}
.sr-bb .srt-stroke-nfl-negative-yards-2 {
  stroke: #ac182e;
}
.sr-bb .srt-fill-nfl-first-line {
  fill: #4b90de;
}
.sr-bb .srt-stroke-nfl-first-line {
  stroke: #4b90de;
}
.sr-bb .srt-fill-nfl-ten-line {
  fill: #f5a623;
}
.sr-bb .srt-stroke-nfl-ten-line {
  stroke: #f5a623;
}
.sr-bb .srt-mlb-run-1 {
  background-color: #009900;
  color: #ffffff;
  border-color: #009900;
}
.sr-bb .srt-mlb-run-2 {
  background-color: #ffffff;
  color: #009900;
  border-color: #009900;
}
.sr-bb .srt-mlb-hit-1 {
  background-color: #f7ab11;
  color: #FFFFFF;
  border-color: #f7ab11;
}
.sr-bb .srt-mlb-hit-2 {
  background-color: #ffffff;
  color: #f7ab11;
  border-color: #f7ab11;
}
.sr-bb .srt-mlb-hit-3 {
  background-color: #00a4ff;
  color: #ffffff;
  border-color: #00a4ff;
}
.sr-bb .srt-mlb-error-1 {
  background-color: #d0021b;
  color: #ffffff;
  border-color: #d0021b;
}
.sr-bb .srt-mlb-error-2 {
  background-color: #ffffff;
  color: #d0021b;
  border-color: #d0021b;
}
.sr-bb .srt-mlb-neutral-1 {
  background-color: #212121;
  color: #ffffff;
  border-color: #ffffff;
}
.sr-bb .srt-fill-mlb-base {
  fill: #00a4ff;
}
.sr-bb .srt-strole-mlb-base {
  fill: #00a4ff;
}
.sr-bb .srt-fill-change-increase {
  fill: #12E64F;
}
.sr-bb .srt-stroke-change-increase {
  stroke: #12E64F;
}
.sr-bb .srt-fill-change-decrease {
  fill: #ff0000;
}
.sr-bb .srt-stroke-change-decrease {
  stroke: #ff0000;
}
.sr-bb .srt-fill-text {
  fill: #FFFFFF;
}
.sr-bb .srt-fill-text-invert {
  fill: #ffffff;
}
.sr-bb .srt-fill-text-secondary {
  fill-opacity: 0.8;
}
.sr-bb .srt-fill-text-disabled {
  fill-opacity: 0.6;
}
.sr-bb .srt-fill-base-1 {
  fill: transparent;
}
.sr-bb .srt-stroke-base-1 {
  stroke: transparent;
}
.sr-bb .srt-fill-base-1-active {
  fill: rgba(255, 16, 16, 0.12);
}
.sr-bb .srt-stroke-base-1-active {
  stroke: rgba(255, 16, 16, 0.12);
}
.sr-bb .srt-fill-base-1-active-2 {
  fill: #1a1a1a;
}
.sr-bb .srt-stroke-base-1-active-2 {
  stroke: #1a1a1a;
}
.sr-bb .srt-fill-base-1-primary {
  fill: transparent;
}
.sr-bb .srt-stroke-base-1-primary {
  stroke: transparent;
}
.sr-bb .srt-fill-base-1-home {
  fill: transparent;
}
.sr-bb .srt-stroke-base-1-home {
  stroke: transparent;
}
.sr-bb .srt-fill-base-1-away {
  fill: transparent;
}
.sr-bb .srt-stroke-base-1-away {
  stroke: transparent;
}
.sr-bb .srt-fill-base-2 {
  fill: currentColor;
}
.sr-bb .srt-stroke-base-2 {
  stroke: currentColor;
}
.sr-bb .srt-fill-base-2-active {
  fill: #1f0202;
}
.sr-bb .srt-stroke-base-2-active {
  stroke: #1f0202;
}
.sr-bb .srt-fill-base-2-hover {
  fill: #1f0202;
}
.sr-bb .srt-stroke-base-2-hover {
  stroke: #1f0202;
}
.sr-bb .srt-fill-base-3 {
  fill: #1f0202;
}
.sr-bb .srt-stroke-base-3 {
  stroke: #1f0202;
}
.sr-bb .srt-fill-base-3-active {
  fill: #2b0303;
}
.sr-bb .srt-stroke-base-3-active {
  stroke: #2b0303;
}
.sr-bb .srt-fill-base-3-hover {
  fill: #2b0303;
}
.sr-bb .srt-stroke-base-3-hover {
  stroke: #2b0303;
}
.sr-bb .srt-fill-primary-1 {
  fill: #FF1010;
}
.sr-bb .srt-stroke-primary-1 {
  stroke: #FF1010;
}
.sr-bb .srt-fill-primary-2 {
  fill: #ff5858;
}
.sr-bb .srt-stroke-primary-2 {
  stroke: #ff5858;
}
.sr-bb .srt-fill-primary-3 {
  fill: #ff2828;
}
.sr-bb .srt-stroke-primary-3 {
  stroke: #ff2828;
}
.sr-bb .srt-fill-primary-4 {
  fill: #990a0a;
}
.sr-bb .srt-stroke-primary-4 {
  stroke: #990a0a;
}
.sr-bb .srt-fill-primary-5 {
  fill: #990a0a;
}
.sr-bb .srt-stroke-primary-5 {
  stroke: #990a0a;
}
.sr-bb .srt-fill-primary-6 {
  fill: #ff7474;
}
.sr-bb .srt-stroke-primary-6 {
  stroke: #ff7474;
}
.sr-bb .srt-fill-primary-7 {
  fill: #FF1010;
}
.sr-bb .srt-stroke-primary-7 {
  stroke: #FF1010;
}
.sr-bb .srt-fill-primary-8 {
  fill: #FF1010;
}
.sr-bb .srt-stroke-primary-8 {
  stroke: #FF1010;
}
.sr-bb .srt-fill-primary-8-is-active-1 {
  fill: #ff2828;
}
.sr-bb .srt-stroke-primary-8-is-active-1 {
  stroke: #ff2828;
}
.sr-bb .srt-fill-primary-8-is-active-2 {
  fill: #ff2828;
}
.sr-bb .srt-stroke-primary-8-is-active-2 {
  stroke: #ff2828;
}
.sr-bb .srt-fill-primary-9 {
  fill: #4d0505;
}
.sr-bb .srt-stroke-primary-9 {
  stroke: #4d0505;
}
.sr-bb .srt-fill-primary-10 {
  fill: #cc0d0d;
}
.sr-bb .srt-stroke-primary-10 {
  stroke: #cc0d0d;
}
.sr-bb .srt-fill-primary-11 {
  fill: #ff2828;
}
.sr-bb .srt-stroke-primary-11 {
  stroke: #ff2828;
}
.sr-bb .srt-fill-primary-12 {
  fill: #FF1010;
}
.sr-bb .srt-stroke-primary-12 {
  stroke: #FF1010;
}
.sr-bb .srt-fill-home-1 {
  fill: #12E64F;
}
.sr-bb .srt-stroke-home-1 {
  stroke: #12E64F;
}
.sr-bb .srt-fill-home-2 {
  fill: #12E64F;
}
.sr-bb .srt-stroke-home-2 {
  stroke: #12E64F;
}
.sr-bb .srt-fill-home-3 {
  fill: #12E64F;
}
.sr-bb .srt-stroke-home-3 {
  stroke: #12E64F;
}
.sr-bb .srt-fill-home-4 {
  fill: #0da137;
}
.sr-bb .srt-stroke-home-4 {
  stroke: #0da137;
}
.sr-bb .srt-fill-home-5 {
  fill: #65ef8d;
}
.sr-bb .srt-stroke-home-5 {
  stroke: #65ef8d;
}
.sr-bb .srt-fill-away-1 {
  fill: #ff0000;
}
.sr-bb .srt-stroke-away-1 {
  stroke: #ff0000;
}
.sr-bb .srt-fill-away-2 {
  fill: #ff0000;
}
.sr-bb .srt-stroke-away-2 {
  stroke: #ff0000;
}
.sr-bb .srt-fill-away-3 {
  fill: #ff0000;
}
.sr-bb .srt-stroke-away-3 {
  stroke: #ff0000;
}
.sr-bb .srt-fill-away-4 {
  fill: #b30000;
}
.sr-bb .srt-stroke-away-4 {
  stroke: #b30000;
}
.sr-bb .srt-fill-away-5 {
  fill: #ff5959;
}
.sr-bb .srt-stroke-away-5 {
  stroke: #ff5959;
}
.sr-bb .srt-fill-neutral-1 {
  fill: #212121;
}
.sr-bb .srt-stroke-neutral-1 {
  stroke: #212121;
}
.sr-bb .srt-fill-neutral-2 {
  fill: #e6e6e6;
}
.sr-bb .srt-stroke-neutral-2 {
  stroke: #e6e6e6;
}
.sr-bb .srt-fill-neutral-3 {
  fill: rgba(255, 255, 255, 0.12);
}
.sr-bb .srt-stroke-neutral-3 {
  stroke: rgba(255, 255, 255, 0.12);
}
.sr-bb .srt-fill-neutral-4 {
  fill: #a6a6a6;
}
.sr-bb .srt-stroke-neutral-4 {
  stroke: #a6a6a6;
}
.sr-bb .srt-fill-neutral-5 {
  fill: #bfbfbf;
}
.sr-bb .srt-stroke-neutral-5 {
  stroke: #bfbfbf;
}
.sr-bb .srt-fill-neutral-6 {
  fill: #3d3d3d;
}
.sr-bb .srt-stroke-neutral-6 {
  stroke: #3d3d3d;
}
.sr-bb .srt-fill-neutral-7 {
  fill: #a6a6a6;
}
.sr-bb .srt-stroke-neutral-7 {
  stroke: #a6a6a6;
}
.sr-bb .srt-fill-neutral-8 {
  fill: #212121;
}
.sr-bb .srt-stroke-neutral-8 {
  stroke: #212121;
}
.sr-bb .srt-fill-neutral-9 {
  fill: #0f0f0f;
}
.sr-bb .srt-stroke-neutral-9 {
  stroke: #0f0f0f;
}
.sr-bb .srt-fill-neutral-10 {
  fill: #1f1f1f;
}
.sr-bb .srt-stroke-neutral-10 {
  stroke: #1f1f1f;
}
.sr-bb .srt-fill-neutral-11 {
  fill: #666666;
}
.sr-bb .srt-stroke-neutral-11 {
  stroke: #666666;
}
.sr-bb .srt-fill-neutral-12 {
  fill: #b3b3b3;
}
.sr-bb .srt-stroke-neutral-12 {
  stroke: #b3b3b3;
}
.sr-bb .srt-fill-neutral-13 {
  fill: #1a1a1a;
}
.sr-bb .srt-stroke-neutral-13 {
  stroke: #1a1a1a;
}
.sr-bb .srt-fill-win {
  fill: #12E64F;
}
.sr-bb .srt-stroke-win {
  stroke: #12E64F;
}
.sr-bb .srt-fill-draw {
  fill: rgba(255, 255, 255, 0.4);
}
.sr-bb .srt-stroke-draw {
  stroke: rgba(255, 255, 255, 0.4);
}
.sr-bb .srt-fill-lose {
  fill: #ff0000;
}
.sr-bb .srt-stroke-lose {
  stroke: #ff0000;
}
.sr-bb .srt-stop-base-1 {
  stop-color: transparent;
}
.sr-bb .srt-stop-primary-1 {
  stop-color: #FF1010;
}
.sr-bb .srt-stop-primary-2 {
  stop-color: #ff5858;
}
.sr-bb .srt-stop-primary-3 {
  stop-color: #ff2828;
}
.sr-bb .srt-stop-primary-4 {
  stop-color: #990a0a;
}
.sr-bb .srt-stop-primary-5 {
  stop-color: #990a0a;
}
.sr-bb .srt-stop-primary-6 {
  stop-color: #ff7474;
}
.sr-bb .srt-stop-primary-7 {
  stop-color: #FF1010;
}
.sr-bb .srt-stop-primary-8 {
  stop-color: #FF1010;
}
.sr-bb .srt-stop-primary-9 {
  stop-color: #4d0505;
}
.sr-bb .srt-stop-primary-10 {
  stop-color: #cc0d0d;
}
.sr-bb .srt-stop-primary-11 {
  stop-color: #ff2828;
}
.sr-bb .srt-stop-primary-12 {
  stop-color: #FF1010;
}
.sr-bb .srt-stop-home-1 {
  stop-color: #12E64F;
}
.sr-bb .srt-stop-away-1 {
  stop-color: #ff0000;
}
.sr-bb .srt-fill-neutral-14 {
  fill: #000000;
}
.sr-bb .srt-stroke-neutral-14 {
  stroke: #000000;
}
.sr-bb .srt-logo-powered-by-light {
  display: none;
}
.sr-bb .srt-logo-powered-by-dark {
  display: inline-block;
}